
@media screen and (max-width: 992px){
  .main-header {
  	.nav {
    margin-top: 0px;
    li{
    	font-size:.9em;
    }
}
 .options-nav {
    margin-top: 5px;
}
}
  .noticia-promo{
  	.promo-info{
  		padding: 10px;
       h2{
       	font-size: 1.6em;
       }
  	}
  } 
  .weekly-book{
  	.book-info{
  		h2{
  			font-size:1.8em;
  		}
  		span{
  			font-size:.8em;
  		}
  		h3{
  			font-size:1.3em;
  			margin: 20px 0 0px 0;
  		}
  		p{
  			margin-bottom: 1em;
  			font-size: .9em;
  		}
  	}
  }
  footer .nacional-info{
  		margin-top:15px;
  	}

  footer .site-map{
  		margin-top:15px;
  		p{
  			font-size: 16px;
  			margin-bottom: 5px;
  			margin-top: 15px;
  		}
  	}

}

@media screen and (max-width: 768px){
   
	.header-user{
		.general-info{
			display:none;

		}
		.account-info{
			font-size:.9em;

			a{
				margin-left: 15px;
			}
		}
	}

	.main-header{
		position:relative;
		padding:10px;
		.navbar{
			position:initial;
		} 
		.nav{
			margin-top: 10px;

			li{
			   font-size:1em;
			   text-align:left;
			}
		}
		.navbar-toggler{
			position:absolute;
			top: 30px;
            right: 80px;
		}
		.options-nav {
			font-size:1em;
			margin-top: 10px;
			display: none !important;
			.grey-square{
				margin-left: 5px;
			}
			.black-counter {
                display:none;
				 
				padding: 0px 5px;
				margin-left: 0px;
			} 
		}
	}


    .main-navigation{ 
    li {
    float: initial;
    margin-bottom:10px;
	}
}


	.adjust-menu-mob{
		flex-direction: column;
		margin-bottom:0px;
	}
  
	.container {
		padding-right: 25px;
		padding-left: 20px;
	}

	.noticias-promo{
		margin:15px;
	}

	.weekly-book { 
          padding:10px;
		.book-img{
			img{
				display: block;
				width: 50%;
				margin: 10px auto 10px;
			}
		}
	}

	.site-info{
		.info-main{
			text-align:center;
			/*flex-direction:column !important; */
		}

		.site-map{
			margin-top:10px;
		}
	}

	.disclaimer-final{
		p{  
			font-size:11px;
		}

	}
 
	 
}

@media screen and (max-width: 576px){

.main-header{
		.navbar-toggler{
			top: 30px;
            right: 10px;
		}
		.options-nav {
			font-size:1em;
			margin-top: 10px;
			display: none !important;
		}
	}	
	
	.breadcrumb {
		font-size: 12px;
	}
    
    .noticias-promo{
    	margin:5px;
    }

	.noticia-promo{
		margin-top:35px;
		border-bottom: solid 1px #9ea1a4;
		padding:5px;
		.d-flex{
			flex-direction:column-reverse !important;
		}

		.promo-info{
			padding: 10px;

			h2{
				font-size:1.5em;
			}
			span{
				font-size:12px;
			}
		}

	}

	.weekly-book-more {
		padding: 20px 0px 0 0px;
		h5 {
			font-weight: 600;
			font-size: 1em;
		}
		a{
			font-size:.8em;
		}
	}
	.weekly-book { 
          padding:10px;
		.book-img{
			img{
				display: block;
				width: 50%;
				margin: 10px auto 10px;
			}
		}

		.book-info{
			margin-top:0px;
			h2{
				font-size: 1.6em;
			}
			span{
				font-size:.8em;
			}
			h3{
				font-size:1.1em;
			}
			p{
				font-size:.8em;
			}
		} /*book-info*/
	} /*weekly-book*/
}
@media screen and (max-width: 420px){
.site-branding{
			img{
			width: 85%;
            margin-top: 10px;
			}
		}
		}