body {
  width: 100%;
}

.bg-light-grey {
  background-color: #e4e4e4;
}

/*-- HEADER USER -- */
.header-user {
  width: 100%;
  padding: 10px;
  height: 50px;
  background-color: #000;
  /*-- general-info -- */
}
.header-user .general-info {
  width: 100;
}
.header-user .general-info p {
  display: inline-block;
}
.header-user .general-info .social {
  display: inline-block;
  margin-left: 35px;
}
.header-user .general-info .social i {
  padding-left: 10px;
}
.header-user .general-info .social i:hover {
  color: #fff !important;
  text-decoration: none;
}
.header-user .account-info a {
  margin-left: 10px;
}
.header-user .account-info a:hover {
  color: #fff !important;
}

/*-- header-user -- */
/*-- MAIN HEADER -- */
.main-header {
  padding: 15px;
  background-color: #191919;
  /*--nav--*/
  /*--options-nav--*/
}
.main-header .nav {
  margin-top: 20px;
}
.main-header .nav li {
  margin-left: 10px;
}
.main-header .nav a {
  color: #fff;
  font-weight: 600;
}
.main-header .nav a:hover {
  text-decoration: underline;
}
.main-header .nav-menu {
  text-align: center;
}
.main-header .options-nav {
  margin-top: 20px;
}
.main-header .options-nav .grey-square {
  padding: 5px;
  text-align: center;
  background-color: #262626;
  margin-left: 15px;
  cursor: pointer;
  height: 35px;
  display: inline-block;
}
.main-header .options-nav .grey-square i {
  display: inline;
}
.main-header .options-nav .black-counter {
  background-color: #000;
  display: inline-block;
  padding: 0px 5px;
  margin-left: 8px;
  display: inline;
}

/*-- MAIN HEADER -- */
.breadcrumb {
  font-size: 14px;
}
.breadcrumb .removed_link {
  color: #6a6a6a;
  font-weight: 100;
}
.breadcrumb .user-location {
  color: #4a4a4a;
  font-weight: 600;
}

/*-- PROMOCIONES -- */
.banners-promo div {
  position: relative;
}
.banners-promo div p {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.noticias-promo {
  margin: 25px;
}

.noticia-promo {
  margin-top: 20px;
}
.noticia-promo .promo-info {
  padding: 20px;
}
.noticia-promo .promo-info h2 {
  font-weight: 700;
}
.noticia-promo .promo-info span {
  font-size: 14px;
  display: block;
  margin-bottom: 10px;
  color: #a8a8a8;
}

/*-- LIBRO SEMANAL -- */
.weekly-book-more {
  boder-bottom: 1px solid #E7E7E7;
  padding: 20px 20px 0 20px;
}
.weekly-book-more h5 {
  font-weight: 600;
}

.weekly-book {
  padding: 20px;
}
.weekly-book .book-info {
  margin-top: 35px;
}
.weekly-book .book-info span {
  display: block;
  margin: 10px 0 10px 0;
}
.weekly-book .book-info h2 {
  font-weight: 700;
}
.weekly-book .book-info h3 {
  font-weight: 700;
  margin: 25px 0 25px 0;
}

/*-- FOOTER -- */
footer {
  font-size: 12px;
}
footer .site-info {
  padding: 20px;
}
footer .nacional-info span {
  margin-bottom: 4px;
  display: block;
}
footer .nacional-info .pagos img {
  margin-bottom: 15px;
}
footer .nacional-info .social {
  display: inline-block;
}
footer .nacional-info .social i {
  padding-left: 10px;
  font-size: 2em;
}
footer .nacional-info .social i:hover {
  color: #fff !important;
  text-decoration: none;
}
footer .site-map p {
  font-size: 16px;
  margin-bottom: 15px;
}
footer .site-map ul {
  margin: 0 0px 1.5em 0em;
  padding-left: 0px !important;
}
footer .site-map li {
  margin-bottom: 8px;
}
footer .disclaimer-final {
  padding: 10px;
}
footer .disclaimer-final p {
  display: inline-block;
  margin-bottom: 0px;
  text-align: left;
}

@media screen and (max-width: 992px) {
  .main-header .nav {
    margin-top: 0px;
  }
  .main-header .nav li {
    font-size: 0.9em;
  }
  .main-header .options-nav {
    margin-top: 5px;
  }

  .noticia-promo .promo-info {
    padding: 10px;
  }
  .noticia-promo .promo-info h2 {
    font-size: 1.6em;
  }

  .weekly-book .book-info h2 {
    font-size: 1.8em;
  }
  .weekly-book .book-info span {
    font-size: 0.8em;
  }
  .weekly-book .book-info h3 {
    font-size: 1.3em;
    margin: 20px 0 0px 0;
  }
  .weekly-book .book-info p {
    margin-bottom: 1em;
    font-size: 0.9em;
  }

  footer .nacional-info {
    margin-top: 15px;
  }

  footer .site-map {
    margin-top: 15px;
  }
  footer .site-map p {
    font-size: 16px;
    margin-bottom: 5px;
    margin-top: 15px;
  }
}
@media screen and (max-width: 768px) {
  .header-user .general-info {
    display: none;
  }
  .header-user .account-info {
    font-size: 0.9em;
  }
  .header-user .account-info a {
    margin-left: 15px;
  }

  .main-header {
    position: relative;
    padding: 10px;
  }
  .main-header .navbar {
    position: initial;
  }
  .main-header .nav {
    margin-top: 10px;
  }
  .main-header .nav li {
    font-size: 1em;
    text-align: left;
  }
  .main-header .navbar-toggler {
    position: absolute;
    top: 30px;
    right: 80px;
  }
  .main-header .options-nav {
    font-size: 1em;
    margin-top: 10px;
    display: none !important;
  }
  .main-header .options-nav .grey-square {
    margin-left: 5px;
  }
  .main-header .options-nav .black-counter {
    display: none;
    padding: 0px 5px;
    margin-left: 0px;
  }

  .main-navigation li {
    float: initial;
    margin-bottom: 10px;
  }

  .adjust-menu-mob {
    flex-direction: column;
    margin-bottom: 0px;
  }

  .container {
    padding-right: 25px;
    padding-left: 20px;
  }

  .noticias-promo {
    margin: 15px;
  }

  .weekly-book {
    padding: 10px;
  }
  .weekly-book .book-img img {
    display: block;
    width: 50%;
    margin: 10px auto 10px;
  }

  .site-info .info-main {
    text-align: center;
    /*flex-direction:column !important; */
  }
  .site-info .site-map {
    margin-top: 10px;
  }

  .disclaimer-final p {
    font-size: 11px;
  }
}
@media screen and (max-width: 576px) {
  .main-header .navbar-toggler {
    top: 30px;
    right: 10px;
  }
  .main-header .options-nav {
    font-size: 1em;
    margin-top: 10px;
    display: none !important;
  }

  .breadcrumb {
    font-size: 12px;
  }

  .noticias-promo {
    margin: 5px;
  }

  .noticia-promo {
    margin-top: 35px;
    border-bottom: solid 1px #9ea1a4;
    padding: 5px;
  }
  .noticia-promo .d-flex {
    flex-direction: column-reverse !important;
  }
  .noticia-promo .promo-info {
    padding: 10px;
  }
  .noticia-promo .promo-info h2 {
    font-size: 1.5em;
  }
  .noticia-promo .promo-info span {
    font-size: 12px;
  }

  .weekly-book-more {
    padding: 20px 0px 0 0px;
  }
  .weekly-book-more h5 {
    font-weight: 600;
    font-size: 1em;
  }
  .weekly-book-more a {
    font-size: 0.8em;
  }

  .weekly-book {
    padding: 10px;
    /*book-info*/
  }
  .weekly-book .book-img img {
    display: block;
    width: 50%;
    margin: 10px auto 10px;
  }
  .weekly-book .book-info {
    margin-top: 0px;
  }
  .weekly-book .book-info h2 {
    font-size: 1.6em;
  }
  .weekly-book .book-info span {
    font-size: 0.8em;
  }
  .weekly-book .book-info h3 {
    font-size: 1.1em;
  }
  .weekly-book .book-info p {
    font-size: 0.8em;
  }

  /*weekly-book*/
}
@media screen and (max-width: 420px) {
  .site-branding img {
    width: 85%;
    margin-top: 10px;
  }
}

/*# sourceMappingURL=styles.css.map */
