body{
	width:100%;
}
.bg-light-grey{
  background-color:#e4e4e4;
}
/*-- HEADER USER -- */

.header-user{
	width:100%;
    padding:10px;
    height: 50px;
    background-color:#000;

.general-info{
	width:100;
  p{
  	display:inline-block;
  }
  .social{
  	display:inline-block;
  	 margin-left:35px;
  	  i{
  	  	padding-left:10px;
  	  }
  	  i:hover{
  	  	color:#fff !important;
  	  	text-decoration:none;
  	  }
  }
}/*-- general-info -- */

.account-info{
   a{
   	 margin-left:10px;
   }
   a:hover{
   	 color:#fff !important;
   }
}

}/*-- header-user -- */
 

/*-- MAIN HEADER -- */
.main-header{
	padding:15px;
	background-color:#191919;

 .nav{
 	margin-top:20px;
 	li{
 	   margin-left:10px;
 	}
 	a{
 		color:#fff;
 		font-weight:600;
 	}
 	a:hover{
        text-decoration:underline;
 	}
 } /*--nav--*/

 .nav-menu{
 	text-align:center;
 }

 .options-nav{
 	margin-top:20px;

 	.grey-square{
 		padding:5px;
 		text-align:center;
 		background-color:#262626;
 		margin-left:15px;
 		cursor:pointer;
 		height: 35px;
 		display:inline-block;
 		i{
 			display:inline;
 		}
 	}
 	.black-counter{
 		background-color:#000;
 		display:inline-block;
 		padding: 0px 5px;
        margin-left: 8px;
        display:inline;
 	}
 }  /*--options-nav--*/
 }/*-- MAIN HEADER -- */

 .breadcrumb{ 
 	font-size:14px;
 .removed_link{
    color:#6a6a6a;
    font-weight:100;
 }
 .user-location{
 	color:#4a4a4a;
 	font-weight:600;
 }
}

/*-- PROMOCIONES -- */
.banners-promo{
	div{
	  position:relative;
	   p{
	   	 position:absolute;
	   	 top:40px;
	   	 left:0;
	   	 right:0;
	   	 margin-left:auto;
	   	 margin-right:auto;
	   }
	}
}
.noticias-promo{
	margin:25px;
}
.noticia-promo{
	margin-top:20px;
	.promo-info{
		padding: 20px;
		h2{
		  font-weight:700;
		}
		span{
			font-size:14px;
			display:block;
			margin-bottom:10px;
			color:#a8a8a8;
		}
	}
}

/*-- LIBRO SEMANAL -- */
.weekly-book-more{
	boder-bottom:1px solid #E7E7E7;
	padding:20px 20px 0 20px;
	h5{
		font-weight:600;
	}
}

.weekly-book{
	padding:20px;
	.book-info{
     margin-top:35px;
		span{
			display:block;
			margin:10px 0 10px 0;
		}
		h2{
		  font-weight:700;
		}
		h3{
          font-weight:700;
          margin: 25px 0 25px 0; 
		}
	}
}

/*-- FOOTER -- */
footer{
font-size:12px;
	.site-info{
		padding:20px;
	}
	.nacional-info{
		span{
            margin-bottom:4px;
			display:block;
		}
		.pagos{
			img{
			margin-bottom:15px;
		}
		}
		.social{
  	display:inline-block;
  	  i{
  	  	padding-left:10px;
  	  	font-size:2em;
  	  }
  	  i:hover{
  	  	color:#fff !important;
  	  	text-decoration:none;
  	  }
  }
	}
	.site-map{
		p{
			font-size:16px;
			margin-bottom:15px;
		}
		ul{
			margin: 0 0px 1.5em 0em;
			padding-left: 0px !important;
		}
		li{
			margin-bottom:8px;
		}
	}
	.disclaimer-final{
		padding:10px;
		p{  
			display:inline-block;
			margin-bottom:0px;
			text-align:left;
		}
		 
	}
}

@import 'responsive';
